<p><%= link_to "Home", root_path %></p>


<h1>Hello, <%= @user.firstname %>!</h1>
<p> Here is your params</p>
<%= @user.firstname %></br>
<%= @user.lastname %></br>
<%= @user.phone %><br/>
<%= @user.age %><br/>
<%= @user.email %></br>
<%= @user.password %><br/>
<%= @user.country %><br/>
<%= @user.city %><br/>
<%= @user.street %><br/>
<%= @user.adress %><br/>
<%= @user.link %><br/>
<p><%= link_to "Edit Profile", edit_user_path %></p>